body {
  margin: 0;
  padding: 20px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;

  background-image: url(./screenshot/aquaman.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#canvas-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

