main {
    width: 500px;
    background-color: aqua;
    height: 500px;
    border: 2px solid rgba(99, 99, 99,)
    margin:auto;
}
 section {
    width: 300px;
    height: 80px;
    background-color: cornsilk;
    margin: 30px;
    overflow: scroll;
 }
 #box {
    width: 250px;
    margin: 0 auto;
    border: 5px green dotted;
 }
 #inner-box {
    width: 100%;
    border: 20px red solid;
    box-sizing: content-box;
    padding: 30px;
    box-sizing: border-box;
 }