#exetrnal{
    color: cadetblue;
}
p{
    font-family: dansingScript;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@font-face {
font-family: dansingScript;
src: url(./dansingScript-variable_wght.ttf)
}
@font-face {
    font-family: BebasNeue-Refgular.ttf;
    src: url();
}
@font-face {
    font-family: BebasNeue;
    font-size: ;
}
{
    .text-decoration; none; 
}
/* text-decoration: dashed ipx black; */
text-decoration-color::after rbg(183, 67, 67)
text-decoration-line: underline;
text-decoration-style:dotted;
{
    body}
    backgroud-color::cue;
    P{style:Italic}
    p{
        font:uppercase;
    }
    background-color:


