#naadam-festival {
    background-color: darkgoldenrod;

    border-top-style:dashed;
    border-top-color:blanchedalmond;
    border-top-width: 2px;

    border-left-color: aquamarine;
    border-left-style: dotted;
    border-left-width: 3px;
    border-right-color: beige;
    border-right-style: double;
    border-right-width: 3px;
    
}
.naadam-units{
    background-color:aquamarine;
    color: brown;
    text-align: right;
    border:5px solid blanchedalmond   
}
h2 {
border:5px dotted purple
}